body {
    min-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 10px;
    padding: 0.75rem 1rem;
    font: inherit;
    font-weight: 700;
    color: black;
    background-color: rgb(227, 189, 23);
}

button:hover {
    background-color:rgb(189, 157, 14);
    cursor: pointer;
}